/** @format */

.CARD {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-color: #abbbc2;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-footer {
  width: 100%;
}

.btn_edit {
  width: 100%;
  position: relative;
  bottom: -27px;
  color: #fff;
  height: 50px;
}
