/** @format */

@import '../sass/variables';

.mapboxgl-map {
  border-radius: 20px;
}
.card_container {
  width: 40%;
  display: block;
  @media only screen and (max-width: $md) {
    width: 100%;
  }
  .card_cont {
    display: block;
    background: $purp-color;
    width: 400px;
    margin: 0px auto;
    border-radius: 10px;
    padding: 20px;
    @media only screen and (max-width: $md) {
      width: 70%;
    }
    @media only screen and (max-width: $sm) {
      width: 100%;
    }
    h2 {
      color: $gray-color;
      font-size: 18px;
      text-transform: capitalize;
    }
    form {
      width: 100%;
      .input_group {
        display: block;
        margin: 20px auto;
        label {
          display: block;
          color: $gray-color;
          text-transform: capitalize;
          font-weight: 300;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          height: 35px;
          border-radius: 5px;
          background-color: #b187ef;
          border: none;
          outline-color: $purp-color;
          color: $base-color;
          padding-left: 10px;
          font-size: 18px;
          font-weight: 500;
        }
      }
      .input_wrapper {
        display: flex;
        margin: 20px auto;
        justify-content: space-between;
        .input_group {
          width: 45%;
          margin: 0;
          input {
            text-align: center;
            padding: 0;
          }
        }
      }
    }
    hr {
      background-color: $gray-color;
      height: 0.5px;
      border: none;
    }
    .price_info {
      .price_info_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
        p {
          color: $gray-color;
          font-weight: 500;
          text-transform: capitalize;
        }
      }
    }
    .checkout_btn {
      width: 100%;
      padding: 20px;
      background-color: $base-color;
      color: #fff;
      border: none;
      outline: none;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      text-transform: capitalize;
      cursor: pointer;
      span {
        i {
          padding-left: 10px;
        }
      }
    }
  }
}
