/** @format */

.Card {
  margin: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #272436;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 15px;
}

.Card-Media {
  width: 100%;
  height: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.media {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Card-Content {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}
