/** @format */

.chart_container {
  padding: 30px;
  width: 100%;
  background-color: #1f1d2b;
  border-radius: 12px;
}
.MostOrderschart__header {
  color: #fff;
  border-bottom: solid;
  border-color: #abbbc2;
  padding: 10px;
  height: 60px;
  span {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  margin-bottom: 20px;
}
