/** @format */
@import '../../sass/variables';
.dash_table {
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: #393c49;
}
.table_container::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
.table_container::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

.table_container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.table_container {
  overflow-y: hidden;
  padding: 30px;
}

.search_over {
  &.active {
    transform: scale(1);
  }
  @media only screen and (max-width: $md) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.2s linear;
  }
  .toggle-close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    @media only screen and (max-width: $md) {
      display: block;
    }
  }
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media only screen and (max-width: $md) {
      width: 90%;
    }
    .search {
      width: 300px;
      height: 30px;
      border: 1.5px solid $base-color;
      border-radius: 8px;
      padding-left: 10px;
      font-size: 14px;
      color: $base-color;
      @media only screen and (max-width: $md) {
        height: 45px;
        width: 100%;
        border: 3px solid $base-color;
      }
    }
    .search_key_cont {
      position: absolute;
      top: 102%;
      left: 0;
      width: 100%;
      z-index: 9999;
      background-color: $gray-color;
      border-radius: 5px;
      padding: 5px;
      span {
        display: block;
        color: $base-color;
        text-decoration: none;
        padding: 3px 5px;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .search-btn {
      position: absolute;
      right: -9px;
      top: 18%;
      background: none;
      border: none;
      outline: none;
      margin: 0px 15px;
      font-size: 18px;
      color: $base-color;
      cursor: pointer;
      @media only screen and (max-width: $md) {
        right: -5px;
        top: 20%;
        font-size: 22px;
      }
    }
  }
}
