/** @format */
@import '../../Components/sass/variables';

.mail-sent {
  display: flex;
  justify-content: center;
  align-items: center;
  //   background-color: aqua;
  height: 100vh;
  padding: 38px;

  background-image: url('../../images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mail-sent-content {
  width: 40%;
  height: 70vh;
  background-color: #fff;
  border-radius: 20px;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.mail-sent-content-warp {
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  top: -40px;
  text-align: center;
}
.mail-sent-content img {
  width: 60%;
  margin-right: 50px;
}

.mail-form {
  background-color: #fff;
  width: 50%;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mail-form h4 {
  text-align: center;
  color: #ffa661;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mail-form img {
  width: 35%;
  margin-left: 100px;
}
.mail-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.mail-form {
}
.mail-form-content {
  width: 80%;
  padding: 20px;
}

input {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid rgba($color: $base-color, $alpha: 0.5);
  padding: 15px;
  margin-top: 10px;
  color: $base-color;
}
input:focus {
  outline: none;
  border: 2px solid rgba(24, 119, 242, 1);
}
.submit {
  display: block;
  height: 50px;
  background-color: #ffa661;
  font-weight: bold;
  color: #fff;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.mail-form-content span {
  font-size: small;
  color: #cccaca;
}
