/** @format */

@import '../sass/_variables.scss';
.product_side {
  width: 60%;
  @media only screen and (max-width: $md) {
    width: 100%;
  }
  @media only screen and (max-width: $sm) {
    width: 100%;
  }
  .product_side_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .product_side_title {
      color: $base-color;
      h3 {
        font-size: 24px;
        padding-bottom: 5px;
        text-transform: capitalize;
      }
      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
    .sort {
      display: flex;
      align-items: center;
      color: $base-color;
      p {
        padding-right: 10px;
      }
      select {
        background-color: transparent;
        color: $base-color;
        border-radius: 0px;
        padding: 3px;
        text-transform: capitalize;
        outline: none;
        option {
          color: $base-color;
        }
      }
    }

    .checkout_btn {
      width: 100%;
      padding: 20px;
      background-color: $base-color;
      color: #fff;
      border: none;
      outline: none;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      text-transform: capitalize;
      cursor: pointer;
      span {
        i {
          padding-left: 10px;
        }
      }
    }
  }
}
