/** @format */

.card_stats {
  width: 100%;
  background-color: #1f1d2b;
  height: 150px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  .card-header {
    background-color: #252836;
    padding: 12px;
    border-radius: 5px;
  }
  .card-content {
    color: #fff;
    font-size: 35px;
  }

  .card-footer {
    color: #abbbc2;
  }
}
