/** @format */

@import '../../Components/sass/variables';

.dash_container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .dash_aside {
    width: 5%;
  }
  .dash_content {
    width: 97%;
    background-color: #272436;
  }
}
