/** @format */
@import '../../../sass/variables';

.OrderTable {
  width: 100%;
  background-color: #1f1d2b;
  border-radius: 12px;
  padding: 15px;
  .OrderTable-header {
    margin-top: 20px;
    span {
      margin-top: 20px;
      padding: 20px;
      font-size: 35px;
      color: #fff;
    }
  }
  .order_table {
    position: relative;
    top: '-20px';
    border-spacing: 0 15px;
    border-collapse: separate;
    width: 90%;
    margin: 30px auto;
    thead {
      tr {
        th {
          border-bottom: solid;
          border-color: #fff;
          color: #fff;
          padding: 5px;
          font-size: 20px;
          font-weight: 500;
          text-transform: capitalize;
          text-align: left;
          &:last-of-type {
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        vertical-align: middle;
        border: none;
        td {
          color: #fff;
          text-transform: capitalize;
          &:nth-child(1) {
            border-radius: 5px 0 0 5px;
            padding: 15px 20px;
          }
          &:last-of-type {
            .chip {
              background-color: rgba(107, 226, 190, 0.2);
              font-size: 15px;
              padding: 10px;
              width: 100%;
              border-radius: 15px;
              color: #50d1aa;
            }
            text-align: center;
            border-radius: 0 5px 5px 0;
          }
          img {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          button {
            border: none;
            background-color: rgb(245, 52, 52);
            color: #fff;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
