/** @format */

.Header {
  width: 100%;
  border-bottom: solid;
  border-color: #abbbc2;
  color: #fff;
  .Header__title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .Header__subtitle {
    color: #abbbc2;
    margin-bottom: 20px;
  }
}
