/** @format */

@import '../../../sass/variables';
.dash_products {
  max-height: 100vh;
  min-height: 100vh;
}

.ProductsMain {
  max-height: 100vh;
  min-height: 100vh;
  // overflow-y: scroll;
  padding: 20px;
}

// .product_form_cont {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 90%;
//   background-color: #fff;
//   height: calc(100% - 31.53px);
//   border-radius: 10px;
//   box-shadow: 0 0 10px #ccc;
//   padding: 40px 0px;
//   margin: 0 auto;
//   margin-top: 10px;
//   form {
//     display: block;
//     width: 70%;
//     margin: 0px auto;
//     @media only screen and (max-width: $sm) {
//       width: 100%;
//     }
//     .row {
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//       margin-bottom: 40px;
//       @media only screen and (max-width: $sm) {
//         flex-wrap: wrap;
//         margin-bottom: 15px;
//       }
//       .input_group {
//         width: 40%;
//         @media only screen and (max-width: $sm) {
//           width: 100%;
//           margin-bottom: 15px;
//         }
//         label {
//           display: block;
//           color: $base-color;
//           font-weight: 500;
//           margin-bottom: 5px;
//         }
//         input,
//         select,
//         textarea {
//           display: block;
//           max-width: 100%;
//           min-width: 100%;
//           height: 35px;
//           border-radius: 5px;
//           border: 3px solid rgba($color: $base-color, $alpha: 0.5);
//           padding-left: 5px;
//           font-size: 20px;
//           color: $base-color;
//           &[type='file'] {
//             padding: 0;
//             cursor: pointer;
//           }
//         }
//         textarea {
//           padding-top: 5px;
//           min-height: 150px;
//           white-space: nowrap;
//         }
//       }
//       &:last-of-type {
//         .input_group {
//           width: 100%;
//         }
//       }
//     }
//     button {
//       display: block;
//       margin: 0 auto;
//       width: 120px;
//       background-color: $base-color;
//       color: #fff;
//       padding: 5px;
//       font-size: 20px;
//       border: none;
//       outline: none;
//       cursor: pointer;
//       text-transform: capitalize;
//       border-radius: 5px;
//     }
//   }
// }
// .Product_table {
//   border-spacing: 0 15px;
//   border-collapse: separate;
//   width: 90%;
//   margin: 30px auto;
//   thead {
//     tr {
//       th {
//         color: $base-color;
//         padding: 5px;
//         font-size: 16px;
//         font-weight: 500;
//         text-transform: capitalize;
//         text-align: left;
//         &:last-of-type {
//           text-align: center;
//         }
//       }
//     }
//   }
//   tbody {
//     tr {
//       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
//       border-radius: 10px;
//       overflow: hidden;
//       vertical-align: middle;
//       border: none;
//       td {
//         background-color: #fff;
//         text-transform: capitalize;
//         &:nth-child(1) {
//           border-radius: 5px 0 0 5px;
//           padding: 15px 20px;
//         }
//         &:last-of-type {
//           text-align: center;
//           border-radius: 0 5px 5px 0;
//         }
//         img {
//           display: block;
//           width: 60px;
//           height: 60px;
//           border-radius: 50%;
//         }
//         button.edit {
//           cursor: pointer;

//           border: none;
//           background-color: rgb(51, 204, 51);
//           color: #fff;
//           padding: 5px 15px;
//           border-radius: 5px;
//         }
//         button.delete {
//           cursor: pointer;

//           border: none;
//           background-color: rgb(245, 52, 52);
//           color: #fff;
//           padding: 5px 15px;
//           border-radius: 5px;
//           margin-left: 10px;
//         }
//       }
//     }
//   }
// }

// button.add_btn {
//   cursor: pointer;
//   border: none;
//   background-color: rgb(51, 204, 51);
//   color: #fff;
//   padding: 5px 15px;
//   border-radius: 5px;
//   margin-left: 10px;
// }

// .Product_List_Head {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   position: relative;
//   top: 20px;
//   button.add_btn {
//     cursor: pointer;
//     border: none;
//     background-color: rgb(51, 204, 51);
//     color: #fff;
//     padding: 5px 15px;
//     border-radius: 5px;
//     margin-left: 10px;
//   }
// }

// .search_over {
//   &.active {
//     transform: scale(1);
//   }
//   @media only screen and (max-width: $md) {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba($color: #000000, $alpha: 0.5);
//     z-index: 9999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transform: scale(0);
//     transition: all 0.2s linear;
//   }
//   .toggle-close {
//     display: none;
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: 10px;
//     font-size: 30px;
//     cursor: pointer;
//     color: #fff;
//     background: none;
//     border: none;
//     outline: none;
//     @media only screen and (max-width: $md) {
//       display: block;
//     }
//   }
//   .search-box {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     @media only screen and (max-width: $md) {
//       width: 90%;
//     }
//     .search {
//       width: 300px;
//       height: 30px;
//       border: 1.5px solid $base-color;
//       border-radius: 8px;
//       padding-left: 10px;
//       font-size: 14px;
//       color: $base-color;
//       @media only screen and (max-width: $md) {
//         height: 45px;
//         width: 100%;
//         border: 3px solid $base-color;
//       }
//     }
//     .search_key_cont {
//       position: absolute;
//       top: 102%;
//       left: 0;
//       width: 100%;
//       z-index: 9999;
//       background-color: $gray-color;
//       border-radius: 5px;
//       padding: 5px;
//       span {
//         display: block;
//         color: $base-color;
//         text-decoration: none;
//         padding: 3px 5px;
//         font-size: 18px;
//         font-weight: 400;
//       }
//     }
//     .search-btn {
//       position: absolute;
//       right: -9px;
//       top: 18%;
//       background: none;
//       border: none;
//       outline: none;
//       margin: 0px 15px;
//       font-size: 18px;
//       color: $base-color;
//       cursor: pointer;
//       @media only screen and (max-width: $md) {
//         right: -5px;
//         top: 20%;
//         font-size: 22px;
//       }
//     }
//   }
// }
