/** @format */

@import '../sass/variables';

////*******start aside product cart******///////
.aside-product {
  display: flex;
  background-color: #fff;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  margin: 0px auto 10px auto;
  .img-box {
    width: 30%;
    height: 80px;
    background-color: $gray-color;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .product-info {
    width: 70%;
    padding-left: 10px;
    .product-name {
      color: $base-color;
      font-size: 16px;
    }
    .product-price {
      color: $yel-color;
      font-size: 20px;
      padding: 5px 0px;
    }
    .read-more {
      background-color: #343a40;
      color: #fff;
      border: none;
      outline: none;
      padding: 6px 17px;
      font-size: 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 5px;
    }
  }
}
////*******end aside product cart******///////

////*******start category******///////
.card {
  width: 160px;
  height: 170px;
  background-color: $gray-color;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $base-color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $yel-color;
    color: #fff;
  }
  @media only screen and (max-width: $lg) {
    margin: 10px;
    width: calc(100% / 4);
  }
  @media only screen and (max-width: $md) {
    margin: 10px;
    width: 44%;
  }

  .card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 90%;
      height: 50%;
      border-radius: 50%;
    }
    span {
      font-size: 50px;
      display: block;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-transform: capitalize;
      margin-top: 8px;
    }
  }
}
////*******end category******///////

////*******start form subbtn******///////
.subbtn {
  display: block;
  height: 40px;
  background-color: $base-color;
  color: #fff;
  width: 60%;
  margin: 20px auto;
  border-radius: 50px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
////*******end form subbtn******///////

////*******start input******///////
.input_fld {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: 2px solid rgba($color: $base-color, $alpha: 0.5);
  padding: 15px;
  color: $base-color;
  font-style: italic;
}
////*******end input******///////

////*******start oauthbtn******///////
.auth_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  button {
    width: 45%;
    padding: 8px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    &.fb_btn {
      background-color: #1092f4;
      color: #fff;
    }
    &.g_btn {
      background-color: $gray-color;
      color: $base-color;
    }
  }
}
////*******end oauthbtn******///////

////*******start product******///////
.product {
  width: 150px;
  margin-bottom: 30px;
  .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    padding: 30px 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    height: 260px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .options {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;
      overflow: hidden;
      a {
        text-decoration: none;
        display: block;
        cursor: pointer;
        color: $base-color;
        margin-bottom: -50px;
        transition: all 0.3s ease-in-out;
        &:nth-of-type(2) {
          transition-delay: 0.1s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.2s;
        }
      }
    }
    &:hover {
      background: none;
      border: 2px solid $gray-color;
      .options {
        a {
          margin-bottom: 0px;
        }
      }
    }
  }
  .product-info {
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    .product-price {
      color: $yel-color;
      font-size: 10px;
      margin-bottom: 10px;
    }
    .product-name {
      color: #878d92;
      text-transform: capitalize;
      font-size: 10px;
    }
  }
}
////*******end product******///////

////*******start title******///////
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 25px;
  }
  h3 {
    color: $base-color;
    text-transform: capitalize;
  }
  a {
    color: $yel-color;
    cursor: pointer;
    text-decoration: none;
  }
}
////*******end title******///////

////*******start  thumb_img******///////
.thumb_img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-color;
  padding: 10px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
////*******end thumb_img******///////

////*******start valid-txt ******///////
.valid-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  font-size: 24px;
  font-weight: 200;
  margin: 10px 0px;
  &:last-of-type {
    font-size: 16px;
  }
  span {
    color: $purp-color;
    font-size: 12px;
    padding: 10px;
    i {
      padding-top: 8px;
    }
    &.invalid {
      color: $purp-color;
      font-size: 20px;
    }
  }
}
////*******end valid-txt******///////

////*******start title with filter******///////
.title_with_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $base-color;
  padding: 15px;
  border-radius: 10px;
  h3 {
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
  }
  .sort {
    display: flex;
    align-items: center;
    color: $gray-color;
    p {
      padding-right: 10px;
    }
    select {
      background-color: transparent;
      color: $gray-color;
      border-radius: 0px;
      padding: 3px;
      text-transform: capitalize;
      outline: none;
      option {
        color: $base-color;
      }
    }
  }
}
////*******end title with filter******///////

////*******start filter******///////
.filter {
  width: 100%;
  margin: 10px auto;
  p {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
  }
  .check_boxes {
    background-color: $gray-color;
    color: $base-color;
    border-radius: 6px;
    max-height: 150px;
    padding: 10px 0px 0px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5px auto;
    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $gray-color;
      border-radius: 15px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $purp-color;
      border-radius: 15px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

////*******end  filter******///////

////*******start filter check******///////
.filter_check {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  input {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  label {
    font-size: 18px;
    padding-left: 5px;
  }
}
////*******end  filter check******///////

//////////******start check out product*********/////////
.Checkout_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  margin: 20px auto;
  // @media only screen and (max-width: $sm) {
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   width: 90%;
  // }
  .img_cont {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-color;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    // @media only screen and (max-width: $sm) {
    //   width: 100%;
    //   height: auto;
    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .info_cont {
    width: 30%;
    h3 {
      color: $base-color;
      margin-bottom: 5px;
      margin-right: 5px;
      white-space: nowrap;
      overflow: hidden;
    }
    p {
      span {
        color: $purp-color;
        cursor: pointer;
      }
    }
    // @media only screen and (max-width: $sm) {
    //   width: 100%;
    //   padding: 10px;
    //   margin-bottom: 10px;
    // }
  }
  .counter_cont {
    margin-right: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background-color: #343a40;
      color: #fff;
      padding: 4px;
      border: none;
      outline: none;
      border-radius: 3px;
      cursor: pointer;
    }
    i {
      font-size: 15px;
    }
    span {
      padding: 0px 10px;
      font-size: 20px;
      font-weight: bold;
      color: $base-color;
    }
    // @media only screen and (max-width: $sm) {
    //   width: 50%;
    //   justify-content: left;
    //   padding-left: 10px;
    // }
  }
  .price_cont {
    margin-top: 10px;
    width: 20%;
    font-size: 18px;
    font-weight: 500;
    color: $base-color;
    text-align: center;
    // @media only screen and (max-width: $sm) {
    //   width: 50%;
    // }
  }
  .delete_btn {
    background: #f83030;
    height: 90px;
    width: 50px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    color: #fff;
    font-size: 20px;
    box-shadow: 0px 0px 10px #ccc;
    cursor: pointer;
    outline: none;
    // @media only screen and (max-width: $sm) {
    //   width: 100%;
    //   border-radius: 0px 0px 10px 10px;
    //   height: 60px;
    //   margin-top: 20px;
    // }
  }
}
//////////*****end check out product*********/////////
