/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../Components/sass/variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  //   margin: 0px auto;
  min-height: 1000px;
  @media only screen and (max-width: 600px) {
    width: 98%;
  }
}
/* width */
html::-webkit-scrollbar {
  width: 6px;
}

/* Track */
// html::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

/* Handle */
html::-webkit-scrollbar-thumb {
  background: $base-color;
  border-radius: 10px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: Roboto;
}
