/** @format */

@import '../../../sass/variables';
.dash_products {
  max-height: 100vh;
  min-height: 100vh;
  // overflow-y: scroll;
  background-color: #272436;
  .product_form_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: calc(100% - 31.53px);
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 40px 0px;
    margin: 0 auto;
    margin-top: 10px;
    form {
      display: block;
      width: 70%;
      margin: 0px auto;
      @media only screen and (max-width: $sm) {
        width: 100%;
      }
      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
        @media only screen and (max-width: $sm) {
          flex-wrap: wrap;
          margin-bottom: 15px;
        }
        .input_group {
          width: 40%;
          @media only screen and (max-width: $sm) {
            width: 100%;
            margin-bottom: 15px;
          }
          label {
            display: block;
            color: $base-color;
            font-weight: 500;
            margin-bottom: 5px;
          }
          input,
          select,
          textarea {
            display: block;
            max-width: 100%;
            min-width: 100%;
            height: 35px;
            border-radius: 5px;
            border: 3px solid rgba($color: $base-color, $alpha: 0.5);
            padding-left: 5px;
            font-size: 20px;
            color: $base-color;
            &[type='file'] {
              padding: 0;
              cursor: pointer;
            }
          }
          textarea {
            padding-top: 5px;
            min-height: 150px;
            white-space: nowrap;
          }
        }
        &:last-of-type {
          .input_group {
            width: 100%;
          }
        }
      }
      button {
        display: block;
        margin: 0 auto;
        width: 120px;
        background-color: $base-color;
        color: #fff;
        padding: 5px;
        font-size: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: capitalize;
        border-radius: 5px;
      }
    }
  }
}
