/** @format */

@import '../sass/variables';

.aside-cart-container {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  //display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 999;
  @media only screen and (max-width: $md) {
    width: 60%;
  }
  @media only screen and (max-width: $sm) {
    width: 100%;
  }
  .aside-cart {
    position: absolute;
    background-color: $base-color;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    @media only screen and (max-width: $md) {
      width: 100%;
    }
    @media only screen and (max-width: $sm) {
      width: 100%;
    }
    .close-btn {
      height: 5%;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 10px;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
    }
    .cart-products {
      height: 80%;
      padding-top: 20px;
      overflow-y: scroll;
      /* width */
      &::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $base-color;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $purp-color;
        border-radius: 5px;
      }
    }
    .checkout {
      position: relative;
      bottom: 30px;
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        background-color: #fff;
        color: $base-color;
        padding: 7px 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  &.active {
    //display: block;
    opacity: 1;
    left: 0;
  }
}
