/** @format */

@import '../sass/variables';
.form_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
  .form_cont {
    border-radius: 18px;
    background-color: #fff;
    padding: 60px 40px;
    width: 30%;
    box-shadow: 0px 0px 10px 0px #ccc;
    @media only screen and (max-width: $xl) {
      width: 40%;
    }
    @media only screen and (max-width: $lg) {
      width: 45%;
    }
    @media only screen and (max-width: $md) {
      width: 49%;
    }
    @media only screen and (max-width: $sm) {
      width: 90%;
    }
    h2 {
      text-align: center;
      color: $base-color;
      margin-bottom: 5px;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 20px;
    }
    .or_line {
      text-align: center;
      position: relative;
      color: rgba($color: $base-color, $alpha: 0.5);
      margin: 0px auto;
      &::after {
        content: '';
        position: absolute;
        top: 7px;
        left: 51px;
        width: 30%;
        height: 1px;
        background-color: rgba($color: $base-color, $alpha: 0.5);
        @media only screen and (max-width: $md) {
          left: 30px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 7px;
        right: 51px;
        width: 30%;
        height: 1px;
        background-color: rgba($color: $base-color, $alpha: 0.5);
        @media only screen and (max-width: $md) {
          right: 30px;
        }
      }
    }
    input {
      display: block;
      margin: 20px auto;
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: 2px solid rgba($color: $base-color, $alpha: 0.5);
      padding: 15px;
      margin-top: 10px;
      color: $base-color;
    }
    input:focus {
      outline: none;
      border: 2px solid rgba(24, 119, 242, 1);
    }
    .submit {
      display: block;
      height: 50px;
      background-color: $base-color;
      color: #fff;
      width: 60%;
      margin: 20px auto;
      border-radius: 10px;
      border: none;
      outline: none;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
    .redir {
      text-align: center;
      color: $base-color;
      text-transform: capitalize;
      margin-top: 10px;
      a {
        color: $purp-color;
        text-decoration: none;
      }
    }
  }

  .form_signup {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 18px;
    // background-color: #fff;
    padding: 35px 40px;
    width: 40%;
    // box-shadow: 0px 0px 10px 0px #ccc;
    @media only screen and (max-width: $xl) {
      width: 40%;
    }
    @media only screen and (max-width: $lg) {
      width: 45%;
    }
    @media only screen and (max-width: $md) {
      width: 90%;
    }
    @media only screen and (max-width: $sm) {
      width: 90%;
      padding: 20px 40px;
    }
    h2 {
      text-align: center;
      color: #fff;
      margin-bottom: 25px;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 30px;
    }
    .or_line {
      text-align: center;
      position: relative;
      color: rgba($color: $base-color, $alpha: 0.5);
      margin: 0px auto;
      &::after {
        content: '';
        position: absolute;
        top: 7px;
        left: 51px;
        width: 30%;
        height: 1px;
        background-color: rgba($color: $base-color, $alpha: 0.5);
        @media only screen and (max-width: $md) {
          left: 30px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 7px;
        right: 51px;
        width: 30%;
        height: 1px;
        background-color: rgba($color: $base-color, $alpha: 0.5);
        @media only screen and (max-width: $md) {
          right: 30px;
        }
      }
    }
    input {
      display: block;
      margin: 20px auto;
      width: 100%;
      height: 50px;
      border-radius: 10px;
      padding: 15px;
      margin-top: 10px;
      color: rgb(17, 17, 17);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(12.5px);
      -webkit-backdrop-filter: blur(12.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgb(12, 12, 12);
    }

    input:-webkit-autofill {
      // border: 1px solid green;
      // -webkit-text-fill-color: green;
      // -webkit-box-shadow: 0 0 0px 1000px #000 inset;
      transition: background-color 5000s ease-in-out 0s;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(12.5px);
      -webkit-backdrop-filter: blur(12.5px);
      color: #fff;
    }

    span {
      color: #fff;
      font-weight: bold;
    }
    input:focus {
      outline: none;
      border: 2px solid rgb(255, 255, 255);
    }
    .submit {
      display: block;
      height: 50px;
      background-color: #e7846a;
      color: #fff;
      width: 60%;
      margin: 20px auto;
      border-radius: 10px;
      border: none;
      outline: none;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
    .redir {
      text-align: center;
      color: $base-color;
      text-transform: capitalize;
      margin-top: 10px;
      a {
        color: $purp-color;
        text-decoration: none;
      }
    }
    .redir_signup {
      text-align: center;
      color: #fff;
      font-weight: 600;
      text-transform: capitalize;
      margin-top: 10px;
      a {
        color: #ff967a;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  .Toastify__toast-theme--dark {
  }
  .Toastify__toast-theme--light {
  }
  .Toastify__toast-theme--colored.Toastify__toast--default {
  }
  .Toastify__toast-theme--colored.Toastify__toast--info {
  }
  .Toastify__toast-theme--colored.Toastify__toast--success {
  }
  .Toastify__toast-theme--colored.Toastify__toast--warning {
  }
  .Toastify__toast-theme--colored.Toastify__toast--error {
    background: rgba(255, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    color: #fff;
    // background-color: azure;
  }

  --toastify-color-progress-dark: #bb86fc;

  @media only screen and (max-width: $sm) {
    flex-wrap: wrap;
  }
}
