/** @format */

@import '../../../sass/variables';
.dash_products {
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
  .product_form_conts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1f1d2b;
    height: calc(100% - 31.53px);
    border-radius: 10px;
    padding: 40px 0px;
    margin: 0 auto;
    margin-top: 10px;

    .product_form_conts_header {
      width: 100%;
      display: flex;
      align-items: flex-start;
      height: 100%;
      position: relative;
      top: -60px;
      border-bottom: solid;
      border-color: #abbbc2;
      h1 {
        color: #fff;
        font-size: 28px;
        text-align: start;
      }
    }
    form {
      display: block;
      width: 100%;
      margin: 0px auto;
      @media only screen and (max-width: $sm) {
        width: 100%;
      }
      .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
        @media only screen and (max-width: $sm) {
          flex-wrap: wrap;
          margin-bottom: 15px;
        }
        .input_groups {
          width: 100%;
          @media only screen and (max-width: $sm) {
            width: 100%;
            margin-bottom: 15px;
          }
          label {
            display: block;
            color: $base-color;
            font-weight: 500;
            margin-bottom: 5px;
            color: #fff;
          }
          input,
          select,
          textarea {
            display: block;
            max-width: 100%;
            min-width: 100%;
            margin-bottom: '20px';
            height: 45px;
            background-color: #272436;
            color: #fff;
            border-radius: 5px;
            border: 3px solid rgba($color: $base-color, $alpha: 0.5);
            padding-left: 5px;
            font-size: 20px;
            &[type='file'] {
              padding: 0;
              cursor: pointer;
            }
          }
          select {
            margin-bottom: 20px;
          }

          textarea {
            padding-top: 5px;
            min-height: 150px;
            white-space: nowrap;
          }
        }
        &:last-of-type {
          .input_groups {
            width: 100%;
          }
        }
      }
      button {
        display: block;
        margin: 0 auto;
        width: 100%;
        background-color: #ea7c69;
        color: #fff;
        height: 60px;
        padding: 5px;
        font-size: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: capitalize;
        border-radius: 5px;
        box-shadow: 0 0 10px #ccc;
      }
    }
  }
}

.delete_button {
  display: block;
  margin: 0 auto;
  width: 25%;
  background-color: #ea7c69;
  color: #fff;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}
