/** @format */

@import '../sass/variables';

.profile_aside {
  display: block;
  width: 100%;
  height: 100vh;
  background: #1f1d2b;
  transition: all 0.1s linear;

  .aside_head {
    width: 100%;
    padding: 25px 0;
    padding-left: 15px;
    padding-bottom: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    img {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .head_info {
      width: 70%;
      padding-left: 10px;
      h1 {
        display: block;
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        font-weight: 500;
        margin: 0;
      }
      .jop-title {
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        text-transform: capitalize;
      }
    }
  }
  .aside_navs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .navs {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 10px 0px;
      color: #fff !important;
      font-size: 50px;
      a:hover {
        color: rgb(236, 105, 105);
        transform: scale(1.1);
        transition: all 0.3s linear;
        span {
          color: rgb(253, 246, 246);
          background-color: rgb(236, 105, 105);
          border-radius: 5px;
        }
      }
      a {
        display: flex;
        justify-content: center;
        width: 100%;
        color: #ea7c69;
        text-decoration: none;
        padding: 0;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 20px;
        span {
          padding: 15px;
          color: #ea7c69;
        }
      }
      &:last-of-type {
        a {
          color: #ea7c69;
          span {
            color: #ea7c69;
          }
        }
      }
    }
  }
  .toggle_menu_btn {
    position: absolute;
    right: -35px;
    top: 80px;
    background-color: $base-color;
    color: $gray-color;
    width: 100px;
    text-align: right;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: none;
  }
}
