/** @format */

@import '../../../../sass/variables';

form {
  display: block;
  width: 100%;
  margin: 0px auto;
  @media only screen and (max-width: $sm) {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    @media only screen and (max-width: $sm) {
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
    .input_groups {
      width: 100%;
      @media only screen and (max-width: $sm) {
        width: 100%;
        margin-bottom: 15px;
      }
      label {
        display: block;
        color: $base-color;
        font-weight: 500;
        margin-bottom: 5px;
        color: #fff;
      }
      input,
      select,
      textarea {
        display: block;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: '20px';
        height: 45px;
        background-color: #272436;
        color: #fff;
        border-radius: 5px;
        border: 3px solid rgba($color: $base-color, $alpha: 0.5);
        padding-left: 5px;
        font-size: 20px;
        &[type='file'] {
          padding: 0;
          cursor: pointer;
        }
      }
      select {
        margin-bottom: 20px;
      }

      textarea {
        padding-top: 5px;
        min-height: 150px;
        white-space: nowrap;
      }
    }
    &:last-of-type {
      .input_groups {
        width: 100%;
      }
    }
  }
  button {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #ea7c69;
    color: #fff;
    height: 60px;
    padding: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
  }
}

.cat_form_conts_header {
  h1 {
    color: #fff;
  }
}
label {
  color: #fff;
}

.categoryimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #abbbc2;
    border-width: 5px;
  }
}
.input_groups_input {
  display: block;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: '20px';
  height: 45px;
  background-color: #272436;
  color: #fff;
  border-radius: 5px;
  border: 3px solid rgba($color: $base-color, $alpha: 0.5);
  padding-left: 5px;
  font-size: 20px;
  &[type='file'] {
    padding: 0;
    cursor: pointer;
  }
}

.dashes {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  border: 4px dashed #ddd;
  opacity: 1;
  label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
    color: grey;
    opacity: 1;
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.editcategorie {
  display: flex;
  justify-content: space-around;
  button {
    display: block;
    margin: 0 auto;
    width: 40%;
    background-color: #ea7c69;
    color: #fff;
    height: 60px;
    padding: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
  }
}
