/** @format */

@import '../sass/variables';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
  .form_cont {
    border-radius: 18px;
    background-color: #fff;
    padding: 60px 40px;
    width: 30%;
    box-shadow: 0px 0px 10px 0px #ccc;
    @media only screen and (max-width: $xl) {
      width: 40%;
    }
    @media only screen and (max-width: $lg) {
      width: 45%;
    }
    @media only screen and (max-width: $md) {
      width: 49%;
    }
    @media only screen and (max-width: $sm) {
      width: 90%;
    }
    h2 {
      text-align: center;
      color: $base-color;
      margin-bottom: 5px;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 20px;
    }
    .or_line {
      text-align: center;
      position: relative;
      color: rgba($color: $base-color, $alpha: 0.5);
      margin: 0px auto;
      &::after {
        content: '';
        position: absolute;
        top: 7px;
        left: 51px;
        width: 30%;
        height: 1px;
        background-color: rgba($color: $base-color, $alpha: 0.5);
        @media only screen and (max-width: $md) {
          left: 30px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 7px;
        right: 51px;
        width: 30%;
        height: 1px;
        background-color: rgba($color: $base-color, $alpha: 0.5);
        @media only screen and (max-width: $md) {
          right: 30px;
        }
      }
    }
    input {
      display: block;
      margin: 20px auto;
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: 2px solid rgba($color: $base-color, $alpha: 0.5);
      padding: 15px;
      margin-top: 10px;
      color: $base-color;
    }
    input:focus {
      outline: none;
      border: 2px solid rgba(24, 119, 242, 1);
    }
    .submit {
      display: block;
      height: 50px;
      background-color: $base-color;
      color: #fff;
      width: 60%;
      margin: 20px auto;
      border-radius: 10px;
      border: none;
      outline: none;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
    .redir {
      text-align: center;
      color: $base-color;
      text-transform: capitalize;
      margin-top: 10px;
      a {
        color: $purp-color;
        text-decoration: none;
      }
    }
  }
  @media only screen and (max-width: $sm) {
    flex-wrap: wrap;
  }
}
