/** @format */

.ProdGrid__Container {
  border-radius: 12px;
  padding: 15px;
  background-color: #1f1d2b;
  .ProdGrid__header {
    margin-top: 20px;
    margin-bottom: 70px;

    span {
      margin-top: 20px;
      padding: 20px;
      font-size: 25px;
      color: #fff;
    }
  }
  .ProdGrid__header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ProdGrid__header__2 {
    position: relative;
    top: -27px;
    display: flex;
    align-items: flex-start;
    height: 100%;
  }
  .CategoriesButton {
    color: #fff;
    border-color: #abbbc2;
    height: 40px;
  }
  .ProdGrid__body {
    color: #fff;
  }
}
