/** @format */

.TopOrders__container {
  padding: 30px;
  width: 100%;
  background-color: #1f1d2b;
  border-radius: 12px;
}

.TopOrders__header {
  color: #fff;
  border-bottom: solid;
  border-color: #abbbc2;
  padding: 10px;
  height: 60px;
  span {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  margin-bottom: 20px;
}

img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.TopOrders__main-item {
  display: flex;
  padding: 10px;
}
.TopOrders__main-item-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  font-size: 16px;
}

.TopOrders__main-item-sub-header {
  color: #abbbc2;
}
